/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* For mobile phones: */


body {
background-color:#C3CEB6;
font-family: "filson-soft", sans-serif;
}

h2 {
color: black;
font-family: "filson-soft", sans-serif;
font-style: normal;
font-weight: 200;
font-size:1.5em;
}

h1 {
color: black;
font-family: "filson-soft", sans-serif;
font-style: normal;
font-weight: 700;
font-size:3em;
}


a {
display:inline-block;
vertical-align: middle;
text-decoration:none;
color:black;
padding-left:10px;
font-weight:300;
font-size:0.85em;
float:right;
}


a:hover {
color:pink;
}


@media only screen and (max-width:3200px)
{
	.content {
position: absolute;
top: 50%;
left: 50%;
margin-top: -225px;
margin-left: -300px;
padding:100px;
text-align:center;
}

@media only screen and (max-width:800px)
{
	.content {
position:absolute;
top: 50%;
left: 50%;
margin-top: -225px;
margin-left:-260px;
padding:100px;
text-align:center;
}
h1 { color: black;
font-family: "filson-soft", sans-serif;
font-style: normal;
font-weight: 700;
font-size:3em;
}
}

@media only screen and (max-width:600px)
{
	.content {
position:absolute;
top: 50%;
left: 50%;
margin-top: -225px;
margin-left:-265px;
padding:100px;
text-align:center;
}
h1 { color: black;
font-family: "filson-soft", sans-serif;
font-style: normal;
font-weight: 700;
font-size:2.5em;
}
}

@media only screen and (max-width:500px)
{
	.content {
position:absolute;
top: 50%;
left: 50%;
margin-top: -225px;
margin-left:-235px;
padding:100px;
text-align:center;
}
h1 { color: black;
font-family: "filson-soft", sans-serif;
font-style: normal;
font-weight: 700;
font-size:2.5em;
}
}